<!doctype HTML>
<html>
  <head>
    <script src="{{ url_for('static', filename='jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
    <script src="{{ url_for('static', filename='exchanger.js') }}"></script>
    <link href="{{ url_for('static', filename='stylesheet.css') }}" rel="stylesheet">
  </head>
<body onload = "setBorders()" >

  <pre id = instructions></pre>
  <br/>
  <img id = card1 src = "{{ url_for('static', filename='card1.png') }}" alt = "card1" Style = "height:300px; width: 200px; bottom:15px; left:50px;">
  <img id = card2 src = "{{ url_for('static', filename='card2.png') }}" alt = "card2" Style = "height:300px; width: 200px; bottom:15px; left:200px;">
  <img id = card3 src = "{{ url_for('static', filename='card3.png') }}" alt = "card3" Style = "height:300px; width: 200px; bottom:15px; left:350px;">
  <img id = card4 src = "{{ url_for('static', filename='card4.png') }}" alt = "card4" Style = "height:300px; width: 200px; bottom:15px; left:500px;">
  <img id = card5 src = "{{ url_for('static', filename='card5.png') }}" alt = "card5" Style = "height:300px; width: 200px; bottom:15px; left:650px;">
  <img id = card6 src = "{{ url_for('static', filename='card6.png') }}" alt = "card6" Style = "height:300px; width: 200px; bottom:15px; left:800px;">
  <img id = card7 src = "{{ url_for('static', filename='card7.png') }}" alt = "card7" Style = "height:300px; width: 200px; bottom:15px; left:950px;">
  <img id = selected_card src = "" alt ="" hidden = true>
  <img id = black_card src = "{{ url_for('static', filename = 'black_card.png')}}" alt = "black_card" Style = "height:300px; width: 200px; bottom:350px; left:800px;">


  <button id = "play">Play this Card</button>


</body></html>
