<!doctype HTML>
<html>
  <head>
    <script src="{{ url_for('static', filename='jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
    <script src="{{ url_for('static', filename='exchanger.js') }}"></script>
    <link href="{{ url_for('static', filename='stylesheet.css') }}" rel="stylesheet">
  </head>
<body onload = "setBorders()" >

  <pre id = instructions></pre>
  <br/>
  <img id = card1 class = "white" src = "/static/card1.png" onerror="this.src='static/card1_blank.png'" Style = "height:300px; width: 200px; bottom:15px; left:50px;">
  <img id = card2 class = "white" src = "/static/card2.png" onerror="this.src='static/card2_blank.png'" Style = "height:300px; width: 200px; bottom:15px; left:200px;">
  <img id = card3 class = "white" src = "/static/card3.png" onerror="this.src='static/card3_blank.png'" Style = "height:300px; width: 200px; bottom:15px; left:350px;">
  <img id = card4 class = "white" src = "/static/card4.png" onerror="this.src='static/card4_blank.png'" Style = "height:300px; width: 200px; bottom:15px; left:500px;">
  <img id = card5 class = "white" src = "/static/card5.png" onerror="this.src='static/card5_blank.png'" Style = "height:300px; width: 200px; bottom:15px; left:650px;">
  <img id = card6 class = "white" src = "/static/card6.png" onerror="this.src='static/card6_blank.png'" Style = "height:300px; width: 200px; bottom:15px; left:800px;">
  <img id = card7 class = "white" src = "/static/card7.png" onerror="this.src='static/card7_blank.png'" Style = "height:300px; width: 200px; bottom:15px; left:950px;">
  <img id = selected_card src = "" alt ="" hidden = true>
  <img id = black_card src = "/static/black_card.png" Style = "height:300px; width: 200px; bottom:350px; left:800px;">


  <button id = "play">PLAY</button>


</body></html>
