<script>

    function get_response(instructions) {


      // Change how the response is generated here
      // Right now it just prompts the user and sets response to what they type in
      var response = prompt(instructions)



      return response
    }
    
    // Hopefully don't have to change anything below this line
    exchange()
    function exchange() {
        fetch('/hello')
        .then(function (response) {
                return response.text();
        }).then(function (text) {
                // Print the instructions as text
                console.log('GET instruction text:');
                console.log(text);
                return text;
        }).then(function (text) {
            return fetch('/hello', {
                // Specify the method
                method: 'POST',
                body: JSON.stringify({
                    "response": get_response(JSON.parse(text)['instructions'])
                })
            })
        }).then(function (response) {
            return response.text();
        }).then(function (text) {
            console.log('POST response: ');
            // Should be 'OK' if everything was successful
            console.log(text);
            return window.location.reload()
        })
      }
</script>
